@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Montserrat:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

body {
  color: #333;
  font-family: "Montserrat", sans-serif;
  background-color: #3876bf;
  padding: 1rem;
  -webkit-tap-highlight-color: transparent;
}

/* Utility Classes */
.offscreen {
  position: absolute;
  left: -10000px;
}

section {
  background-color: #e8f3f8;
  width: 90%;
  max-width: 800px;
  margin: auto;
  border: 1px solid #000;
  border-radius: 10px;
}

.new-item-entry {
  position: sticky;
  top: 0;
  z-index: 2;
  margin-bottom: 1rem;
  padding: 0.75rem;

  form {
    display: flex;
    justify-content: space-between;
  }

  label {
    position: absolute;
    left: -10000px;
  }

  input {
    width: 80%;
    font-size: 1.25rem;
    border: 2px solid lightgray;
    border-radius: 10px;
    padding: 0.75rem;
    outline: none;
    transition: 0.3s;
    color: #333;
    letter-spacing: 1.5px;
    margin: auto;
  }

  input::placeholder {
    color: darkgrey;
    letter-spacing: 0;
    font-size: 15px;
    text-align: center;
    transition: 0.3s;
  }

  input:focus::placeholder {
    opacity: 0;
  }

  input:is(:hover, :focus) {
    box-shadow: 2px 2px 5px #424242;
  }

  button {
    background-color: green;
    color: #fff;
  }
}

section .stats {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1.5rem 0;
  flex-wrap: wrap;
  gap: 0.7rem;

  li {
    display: flex;
    min-width: 135.5px;
  }

  span {
    padding: 0.25rem 0.5rem;
    font-weight: bold;
    letter-spacing: 1.1px;
  }

  li span:first-of-type {
    background-color: #061b25;
    border-radius: 0 10px;
    color: #e8f3f8;
    min-width: 108px;
    text-align: center;
  }

  li span:last-of-type {
    background-color: #1c89bb;
    color: #e8f3f8;
    border-radius: 10px 0;
    width: 38px;
    text-align: center;
  }
}

.list-container {
  min-height: 60vh;
  padding: 0.75rem;

  .list-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;

    h1 {
      align-self: flex-end;
    }

    .buttons {
      display: flex;
      gap: 8px;
      align-items: flex-start;
    }

    button {
      color: #fff;
      background-color: #9f6060;
    }

    button.disabled {
      opacity: 0.5;
      filter: none;
      box-shadow: none;
      pointer-events: none;
    }
  }

  .list-items {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 1rem;
      transition: 0.3s;
      padding: 1.5rem 1rem;
      background-color: white;
      border-radius: 10px;

      div:first-of-type {
        display: flex;
        align-items: center;
        gap: 1rem;
      }

      &:has(input:checked) {
        background-color: #39a6ff1f;
      }

      &:has(input:checked) span {
        text-decoration: line-through;
        color: #77b8d4;
      }

      input,
      span {
        cursor: pointer;
        transition: 0.3s;
      }

      input[type="checkbox"] {
        appearance: none;
        background-color: transparent;
        min-width: 25px;
        min-height: 25px;
        border-radius: 50%;
        border: 1px solid #333;
        display: grid;
        place-content: center;
        transition: 0.3s;
      }

      input[type="checkbox"]::before {
        content: "\f00c";
        font-family: "font awesome 6 free";
        font-weight: bold;
        font-size: 1.2rem;
        transition: 0.3s;
        transform: scale(0);
        color: #d2e7f1;
      }

      input[type="checkbox"]:checked {
        background-color: #77b8d4;
        border-color: #77b8d4;
      }

      input[type="checkbox"]:checked::before {
        transform: scale(1);
      }

      span {
        padding: 4px;
        border-radius: 6px;
        font-size: 1.5rem;
      }

      span[contenteditable]:focus {
        outline: none;
        padding: 0.25rem 0.5rem;
        background-color: #e8f3f8;
        transform: scale(1.1) translateX(10px);
      }

      span[contenteditable]:hover {
        background-color: #e8f3f8;
      }

      button {
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: #333;
        transition: 0.3s;
      }

      button:hover {
        color: #061b25;
        transform: scale(1.2);
      }

      button:first-of-type {
        margin-right: 10px;
      }

      &:has(input:checked) button {
        opacity: 0.7;
      }
    }
  }
}

.btn {
  min-width: 48px;
  min-height: 48px;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1.25rem;
  border-radius: 10px;
  border: none;
}

.btn:is(:hover, :focus) {
  filter: brightness(120%);
  box-shadow: 4px 2px 5px #333;
}
